header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000;
  padding: 5px 20px;
  :first-child {
    font-size: 32px;
    cursor: pointer;
    :hover {
      opacity: 50%;
    }
  }
}

.header-menu {
  display: flex;
  gap: 10px;
}

main {
  display: flex;
  gap: 10px;
  margin: 15px 0 0 30px;
}

.left-menu {
  display: flex;
  flex-direction: column;
}

.right-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  img {
    object-fit: contain;
    height: 250px;
    width: 250px;
  }
}

.search {
  max-width: 1050px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  input {
    font-size: 15px;
    height: 40px;
    width: 150px;
  }
}

.description {
  input {
    width: 450px;
  }
}

.listHead {
  padding-top: 15px;
}

.list {
  margin: 0;
  li {
    display: flex;
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  max-width: 450px;
  height: fit-content;
  min-height: 50px;
  border: 1px solid #000;
  position: relative;
}

.icon-loja-cell {
  position: absolute;
  left: 5px;
  font-size: 32px;
  cursor: pointer;
  :hover {
    opacity: 50%;
  }
}

.cell-menu {
  width: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  position: absolute;
  right: 10px;
}

.delete:hover,
.edit:hover {
  opacity: 50%;
  cursor: pointer;
}