<header>
    <ng-icon name="heroPlusCircle"></ng-icon>
    <h1>Consulta de Produto</h1>
    <div></div>
</header>

<main>
    <div class="search">
        <div class="input">
            Código
            <input type="number" />
        </div>
        <div class="input description">
            Descrição
            <input type="text" />
        </div>
        <div class="input">
            Custo
            <input type="number" />
        </div>
        <div class="input">
            Preço de Venda
            <input type="number" />
        </div>
    </div>
    <ul class="list">
        <li>
            <div class="cell">
                Código
            </div>
            <div class="cell">
                Descrição
            </div>
            <div class="cell">
                Custo (R$)
            </div>
        </li>
        <li>
            <div class="cell">
                000000
            </div>
            <div class="cell">
                Leite Condensado Moça
            </div>
            <div class="cell price-cell">
                <div>1,20</div>
                <div class="cell-menu">
                    <ng-icon class="delete" name="heroTrashSolid"></ng-icon>
                    <ng-icon class="edit" name="heroPencilSolid"></ng-icon>
                </div>
            </div>
        </li>
        <li>
            <div class="cell">
                000000
            </div>
            <div class="cell">
                Leite Condensado Moça
            </div>
            <div class="cell price-cell">
                <div>1,20</div>
                <div class="cell-menu">
                    <ng-icon class="delete" name="heroTrashSolid"></ng-icon>
                    <ng-icon class="edit" name="heroPencilSolid"></ng-icon>
                </div>
            </div>
        </li>
    </ul>
</main>