<ng-container *ngIf="getHidden()">
    <div class="modal">
        <header>
            <div class="header-menu">
                <ng-icon (click)="insertStore()" class="save" name="featherSave"></ng-icon>
            </div>
            <h1>Alteração/Inclusão de Preço</h1>
            <div (click)="toggle()" class="header-menu">
                <ng-icon class="delete" name="heroXMark"></ng-icon>
            </div>
        </header>
        <form [formGroup]="storeForm" class="content">
            <div class="input-select">
                <label class="label" for="loja">Loja*</label>
                <select formControlName="loja" class="select">
                    <option *ngFor="let item of stores"
                        [ngValue]="item">
                        {{item.descricao}}
                    </option>
                </select>
            </div>
            <div class="input-preco">
                <label class="label" for="precoVenda">Preço de Venda (R$)*</label>
                <input formControlName="precoVenda" class="preco" id="precoVenda" type="text" />
            </div>
        </form>
    </div>
    <div (click)="toggle()" class="overlay"></div>
</ng-container>