<header>
    <ng-icon (click)="redirectToProductRegister()" name="heroPlusCircle"></ng-icon>
    <h1>Consulta de Produto</h1>
    <div></div>
</header>

<main>
    <form [formGroup]="searchForm" class="search">
        <div class="input">
            Código
            <input id="id" name="id" (input)="getProductsBy()" type="text" formControlName="id" />
        </div>
        <div class="input description">
            Descrição
            <input id="descricao" name="descricao" type="text" (input)="getProductsBy()" formControlName="descricao" />
        </div>
        <div class="input">
            Custo
            <input id="custo" name="custo" type="text" (input)="getProductsBy()" formControlName="custo" />
        </div>
        <div class="input">
            Preço de Venda
            <input id="precoVenda" name="precoVenda" (input)="getProductsBy()" type="text"
                formControlName="precoVenda" />
        </div>
    </form>
    <ul class="listHead list">
        <li>
            <div class="cell">
                Código
            </div>
            <div class="cell">
                Descrição
            </div>
            <div class="cell">
                Custo (R$)
            </div>
        </li>
    </ul>
    <ul *ngFor="let item of products" class="list">
        <app-item-product [item]="item"></app-item-product>
    </ul>

</main>